* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 650px;
    margin: 20px auto;
    font-family: sans-serif;
}

h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

h2 {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 15px;
}

div {
    border-top: 1px solid black;
    padding-top: 25px;
}

p {
    margin-bottom: 15px;
}